*, ::after, ::before
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* pour que opera puisse lire */
    -moz-box-sizing: border-box; /*pour que mozilla puisse lire*/
}

.banner
{
    background-color: #f1c40f;
    padding: 10px 0;
    width: 100%;
}

body
{
    margin: 0;
    overflow: hidden; 
}

header
{
    width: 100%;
    position: relative;
    top: 0;
    height: auto;
}

.banner .section-right
{
    float: right;
}

.banner a
{
    margin: 0 10px;
    color: black;
}

.logo
{
    background-color: #f1c40f;
    padding: 25px;
    position: absolute;
    width: 230px;
    left: -25px;
    top: 30px;
}

.parallelogram
{
    transform: skew(-20deg);
}

.skew-fix
{
    width: 60%;
    display: inline-block; 
    transform: skew(20deg);
}

.logo img
{
    width: 180px;
    height: 25px;
}

.top-nav
{
    background-color: black;
    overflow: hidden;
}

.top-nav a
{
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav .icon
{
    display: none;
    outline: none !important;
}

.top-nav .active
{
    color: #f1c40f;
    margin-left: 250px;
}

.dropdawn
{
    float: left;
    overflow: hidden;
}

.dropdawn .dropbtn
{
    font-size: 17px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.dropdawn-content
{
    overflow: hidden;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-top: 2px solid #f1c40f;
    z-index: 1;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 1s;
    animation-name: slideIn;
    animation-duration: 1s;
}

.dropdawn-content a
{
    float: none;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.top-nav a:hover, .dropdawn:hover .dropbtn
{
    color: #ffa500;
}

.dropdawn:hover .dropdawn-content
{
    display: block;
}

/* gestion des animations*/
@-webkit-keyframes slideIn
{
    from 
    {
        bottom: -300px;
        opacity: 0;   
    }
    to
    {
        opacity: 1;
    }
}

@keyframes slideIn
{
    from 
    {
        bottom: -300px;
        opacity: 0;   
    }
    to
    {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.animate
{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom
{
    from
    {
        -webkit-transform: scale(0);
    }
    to
    {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom
{
    from{
        -webkit-transform: scale(0);
        }
        to
        {
            -webkit-transform: scale(1);
        }
}

@media screen and (max-width: 820px)
{
    .banner .section-left 
    {
        display: none;
    }
    .banner .section-right
    {
        float: none;
        width: 100%;
    }
    .top-nav a, .dropdawn .dropbtn
    {
        display: none; /* effacement */
    }
    .top-nav a.icon
    {
        float: right;
        display: block;
    }
    .dropdawn-content
    {
        -webkit-animation-name: none;
        -webkit-animation-duration: 1s;
        animation-name: none;
        animation-duration: 1s;
    }
    .active
    {
        margin-left: 0!important;
    }
    .top-nav
    {
        height: 50px;
        width: 100%;
        transition: 0.5s;
    }
    .top-nav.responsive
    {
        position: relative;
        height: 70vh; /*taille de l'ecran */
        overflow-y: auto;
    }
    .top-nav.responsive .icon
    {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top-nav.responsive a
    {
        float: none;
        display: block;
        text-align: left;
    }
    .top-nav.responsive .dropdawn
    {
        float: none;
    }
    .top-nav.responsive .dropdawn-content
    {
        position: relative;
    }
    .top-nav.responsive .dropdawn .dropbtn
    {
        display: block;
        width: 100%;
        text-align: left;
    }
}